<div id="view-details-register">
    <md-toolbar class="view-toolbar pamin-theme" layout="column" layout-align="end start">
        <h2 class="view-title">{{ vm.register.what }}</h2>
    </md-toolbar>
    <div class="view-content">

        <table class="table"><tbody>
            <tr ng-show="vm.register.where">
                <th>Onde:</th>
                <td>{{ vm.register.where }}</td>
            </tr>
            <tr>
                <th>Preço:</th>
                <td>{{ vm.register.price ? (vm.register.price | currency: 'R$') : 'Gratuito' }}</td>
            </tr>
            <tr ng-show="vm.register.start_date">
                <th>Inicio:</th>
                <td>{{ vm.register.start_date | date:"dd/MM/yyyy 'às' HH:mm"  }}</td>
            </tr>
            <tr ng-show="vm.register.end_date">
                <th>Fim:</th>
                <td>{{ vm.register.end_date | date:"dd/MM/yyyy 'às' HH:mm"  }}</td>
            </tr>
            <tr ng-show="vm.register.promotor">
                <th>Promotor:</th>
                <td>{{ vm.register.promotor }}</td>
            </tr>
            <tr ng-show="vm.register.promotor_contact">
                <th>Contato do Promotor:</th>
                <td>{{ vm.register.promotor_contact }}</td>
            </tr>
            <tr>
                <th>Categoria:</th>
                <td>{{ vm.register.category.name }}</td>
            </tr>
            <tr>
                <th>Descrição:</th>
                <td><p>{{ vm.register.description ? (vm.register.description) : ('Nenhuma descrição fornecida.') }}</p></td>
            </tr>
        </tbody></table>
        <div class="actions" layout="row" layout-align="end" ng-show="vm.isAuthorized()">
            <!--<md-button md-theme="yellow" class="md-primary md-raised">Editar</md-button>-->
            <md-button class="md-raised md-warn" ng-click="vm.destroy($event)">Excluir</md-button>
        </div>
    </div>
</div>