<div id="view-new-register">
	<md-toolbar class="view-toolbar pamin-theme" layout="column" layout-align="end start">
		<h2 class="view-title">Novo registro</h2>
	</md-toolbar>
	<div class="view-content">
		<form layout="column" ng-submit="vm.add()" >
			<div class="row" layout="row" layout-padding>
				<div class="form-group" flex>
					<label>O que</label>
					<input type="text" name="what" ng-model="vm.register.what" required/>
					<span class="help-inline text-error" ng-show="form.what.$dirty"/>
				</div>
				<div class="form-group" flex>
					<label>Onde</label>
					<input type="text" name="where" ng-model="vm.register.where" required/>
					<span class="help-inline text-error" ng-show="form.where.$dirty && form.what.$invalid"/>
				</div>
			</div>

			<div class="row" layout="row" layout-padding>
				<div class="form-group" flex>
					<label>Data inicial</label>
					<input type="datetime-local" ng-model="vm.register.start_date"/>
				</div>
				<div class="form-group" flex>
					<label>Data final</label>
					<input type="datetime-local" ng-model="vm.register.end_date"/>
				</div>
			</div>

			<div class="row" layout="row" layout-padding>
				<div class="form-group" flex>
					<label>Promotor</label>
					<input type="text" ng-model="vm.register.promotor"/>
				</div>
				<div class="form-group" flex>
					<label>Promotor Contato</label>
					<input type="text" ng-model="vm.register.promotor_contact"/>
				</div>
			</div>

			<div class="row" layout="row" layout-padding>
				<div class="form-group" flex>
					<label>Descrição</label>
					<textarea ng-model="vm.register.description"></textarea>
				</div>
			</div>

			<div class="row" layout="row" layout-padding>
				<div class="form-group" flex>
					<label>Categorias</label>
					<select ng-model="vm.register.category_id" ng-options="category.id as category.name for category in vm.categories" required>
					</select>
				</div>
				<div class="form-group" flex>
					<label>Preço</label>
					<input type="text" ng-model="vm.register.price"/>
				</div>
			</div>

			<div class="row" layout="row" layout-padding layout-align="end">
				<md-button class="md-primary md-raised">Salvar</md-button>
			</div>
		</form>
	</div>
</div>