#view-new-register {
    .view-content {
        margin: 1em;
    }

    .row {
        padding: 8px;
    }

    textarea {
        width: 100% !important;
    }
}

#view-details-register {
    max-width: 700px;

    .view-content {
        padding: 0 1em;
    }

    .actions {

        .md-button {
            margin-left: 1em;
        }

    }
}