<md-dialog aria-label="Confirmação">
  <md-content>
    <h2>Confirmação</h2>
    <p>Tem certeza que você quer deletar esse registro?</p>
  </md-content>
  <div class="md-actions" layout="row" layout-align="end">
    <md-button ng-click="cancel()">
      Cancelar
    </md-button>
    <md-button class="md-primary" ng-click="hide()">
      Sim
    </md-button>
  </div>
</md-dialog