<form layout="column" ng-submit="login()" layout-padding>
        <div class="form-group" flex>
            <label>Email</label>
            <input type="text" name="email" ng-model="credentials.email" required/>
        </div>
        <div class="form-group" flex>
            <label>Senha</label>
            <input type="password" name="password" ng-model="credentials.password" required/>
        </div>
        <br />
        <div class="actions" layout="column">
            <md-button class="md-primary md-raised" flex>Entrar</md-button>
            <md-button class="md-primary md-raised" ng-href="/cadastro" flex>Cadastrar</md-button>
        </div>
</form>
