<form layout="column" ng-submit="signup()" layout-padding>
        <div class="form-group" flex>
            <label>Nome</label>
            <input type="text" name="name" ng-model="user.name" required/>
        </div>
        <div class="form-group" flex>
            <label>Email</label>
            <input type="email" name="email" ng-model="user.email" required/>
        </div>
        <div class="form-group" flex>
            <label>Senha</label>
            <input type="password" name="password" ng-model="user.password" required/>
        </div>
        <div class="form-group" flex>
            <label>Confirmar senha</label>
            <input type="password" name="password_confirmation" ng-model="user.password_confirmation" required/>
        </div>
        <!--
        <div class="form-group" flex>
            <label>Data de nascimento</label>
            <input type="date" name="birthday" ng-model="user.birthday" required/>
        </div> -->
        <br />
        <div class="actions" layout="horizontal" layout-align="end">
            <md-button class="md-primary md-raised">Cadastrar</md-button>
        </div>
</form>