.form-group {
	position: relative; 

	input, textarea, select {
	  padding: 10px 10px 10px 5px;
	  display: block;
	  width: 250px;
	  border: none;
	  border-bottom: 1px solid #757575;
		
		background: inherit;
	}

	input:focus, textarea:focus, select:focus { 
		outline: none;
		border-color: #5264AE;
	}

	select {
		background-color: transparent;
	}
}