#main-header {

    .md-toolbar-tools {
        padding: .3em .5em;
    }

    .header-title {
        height: 100%;

        .pamin-logo {
            height: 100%;
        }
    }

    .header-nav {

        li {
            margin-left: 1em;

            &:first-child {
                margin-left: 0;
            }
        }

    }
}

#main-content {
    position: relative;
    height: calc(100% - #{$header-height});
    width: 100%;

    background-color: black;
}