#view-content {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    min-width: 300px;

    background-color: $view-background;
    z-index: 2;

    .view-toolbar {
        padding: 1em 1em 0 1em;
    }

    .view-title {
        font-weight: 300;
        font-size: 2.6em;
    }

    .view-content {
        margin: 1em 0;
    }
}

#view-content.ng-enter, #view-content.ng-leave {
    transition: all .6s ease;
}

#view-content.ng-enter {
    left: -100%;

    &.ng-enter-active {
        left: 0;
    }
}

#view-content.ng-leave {
    left: 0;

    &.ng-leave-active {
        left: -100%;
    }
}