<div id="view-about">
    <md-toolbar class="view-toolbar pamin-theme" layout="column" layout-align="end start">
        <h2 class="view-title">Sobre</h2>
    </md-toolbar>
    <div class="view-content">
        <p>O Pamin é uma plataforma web para consulta, divulgação e registro do patrimônio
        material e imaterial, onde todos podem registrar os lugares, objetos, formas de expressões,
        celebrações, pessoas e saberes da sua cultura em tempo real e sem custos.</p>
        <p>Seu público alvo são grupos e artistas de produção pouco conhecida ou divulgada,
        público em geral, estudantes, produtores artísticos e culturais, pesquisadores, gestores
         públicos e privados.</p>
    </div>
</div>