<div id="view-categories">
    <md-toolbar class="view-toolbar pamin-theme" layout="column" layout-align="end start">
        <h2 class="view-title">Categorias</h2>
    </md-toolbar>
    <div class="view-content">
        <md-list>
            <md-item ng-repeat="category in vm.categories">
                <md-item-content ng-click="vm.filter(category)" class="item" ink-ripple>
                    <div class="md-tile-left">
                        <img class="thumb" ng-src="/static/icons/categories/{{ category.name }}.svg" />
                    </div>
                    <div class="md-tile-content" layout="horizontal" layout-align="end">
                        <span flex>{{ category.name }}</span>
                        <div ng-show="vm.isActive(category)" class="icon icon-action-black icon-action-black-ic_done_black_24dp "></div>
                    </div>
                </md-item-content>
            </md-item>
        </md-list>
    </div>
</div>
