<div id="view-login">
    <md-toolbar class="view-toolbar pamin-theme" layout="column" layout-align="end start">
        <h2 class="view-title">Entrar</h2>
    </md-toolbar>
    <div class="view-content">
       <login-form></login-form>
    </div>
</div>