<div id="view-signup">
    <md-toolbar class="view-toolbar pamin-theme" layout="column" layout-align="end start">
        <h2 class="view-title">Cadastro</h2>
    </md-toolbar>
    <div class="view-content">
       <sign-up-form></sign-up-form>
    </div>
</div>