md-toolbar.pamin-theme {
    background-color: #003366;
    color: white;

    min-height: $header-height;

    font-size: 1em;
    .md-toolbar-tools {
        height: $header-height;
        min-height: $header-height;
    }
}

.md-button.md-raised {
  padding: inherit 40px !important;
}