<!DOCTYPE html>
<html>
<head>
  <title>PAMIN - Patrimônio, Memória e Interatividade</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
  <base href="/">
</head>
<body ng-app="pamin">

  <%= yield %>

  <script src="//maps.googleapis.com/maps/api/js?sensor=false"></script>
</body>
</html>
